version: "3.9"
services:
  app:
    build: .
    container_name: rating-service
    ports:
      - "8000:8000"
    volumes:
      - ./data:/app/data
      - ./config:/app/config
    environment:
      - PYTHONUNBUFFERED=1
      - APP_ENV=prod
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --workers=2
